@page "/"
@using Blazor.Fluxor
@using EmojiBlaze.Models.Store.Game
@inject IState<GameState> GameState
@inject IDispatcher Dispatcher

<div class="container">
    <div class="row">
        <div class="col">
            <Board></Board>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <PlayerList></PlayerList>
            <AddPlayer></AddPlayer>
        </div>
    </div>
</div>
