@page "/"
@using Blazor.Fluxor
@using EmojiBlaze.Models.Store.Game
@inject IState<GameState> GameState
@inject IDispatcher Dispatcher

<div class="container-fluid">
    <div class="d-flex">
        <div class="flex-grow-1">
            <PlayerList></PlayerList>
            <AddPlayer></AddPlayer>
            <Board></Board>
        </div>
    </div>
</div>
