@page "/"
<h1>Pairs</h1>

<div class="d-flex justify-content-center">
    <div class="flex-fill">
        
    </div>
    <div class="flex-fill">
        <PlayerList></PlayerList>
        <AddPlayer></AddPlayer>
    </div>
</div>