@page "/"
@using Blazor.Fluxor
@using Store.Game
@inject IState<GameState> GameState
@inject IDispatcher Dispatcher

<div class="d-flex justify-content-center">
    <div class="flex-fill">
        <Board></Board>
    </div>
    <div class="flex-fill">
        <PlayerList></PlayerList>
        <AddPlayer></AddPlayer>
    </div>
</div>