@namespace EmojiBlaze.Web.Shared
@using Blazor.Fluxor
@using EmojiBlaze.Models.Store.Game
@inject IState<GameState> GameState
@inject IDispatcher Dispatcher

@if (GameState.Value.GameStage == GameStage.NotStarted)
{

    <input placeholder="Player Name" @bind="PlayerName" />
    <button @onclick="Add">Add Player</button>
  
    @if (CanStartGame)
    {
        <div class="row mt-1">
            <div class="col">
                <button @onclick="StartGame">Start Game</button>
            </div>
        </div>
    }
}