@using Blazor.Fluxor
@using EmojiBlaze.Models.Store.Game
@inject IState<GameState> GameState
@inject IDispatcher Dispatcher

@inherits Blazor.Fluxor.Components.FluxorComponent

@if (GameState.Value.GameStage == GameStage.Completed)
{
    <h1>Game Complete!</h1>
}

@if (GameState.Value.Cards != null && !GameOver)
{
    <div class="grid-container">
        @foreach (var rowX in GameState.Value.Cards.Select(x => x.X).Distinct())
        {
            @foreach (var card in GameState.Value.Cards.Where(x => x.X == rowX))
            {
                <CardView Card="@card"></CardView>
            }
        }
    </div>
}

@if (GameOver)
{
    <h1>@GameOverMessage</h1>
}

