@using Blazor.Fluxor
@using EmojiBlaze.Models.Store.Game
@inject IState<GameState> GameState
@inject IDispatcher Dispatcher
@inherits Blazor.Fluxor.Components.FluxorComponent
@inject IJSRuntime JSRuntime;

<div id="@HtmlId" class="h-100 col">
    @if (Card.IsInPlay)
    {
        @if (Card.IsFaceDown)
        {
            <div class="cursor-pointer h-100" @onclick="Flip">🃏</div>
        }
        else
        {
            <div class="h-100">@Card.Symbol</div>
        }
    }
    else
    {
        <div class="h-100">✔</div>
    }
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await FitText();
        }
    }

    private async Task FitText()
    {
        await JSRuntime.InvokeVoidAsync("fitText", HtmlId);
    }
}