@using Blazor.Fluxor
@using EmojiBlaze.Models.Store.Game
@using EmojiBlaze.Models.Store.Game.Actions
@inject IState<GameState> GameState
@inject IDispatcher Dispatcher
@inherits Blazor.Fluxor.Components.FluxorComponent


@if (Card.IsInPlay)
{
    @if (Card.IsFaceDown)
    {
        <div class="cursor-pointer" @onclick="Flip">🃏</div>
    }
    else
    {
        <div>@Card.Symbol</div>
    }
}
else
{

    <div>✔</div>
}


@code {

    [Parameter]
    public Card Card { get; set; }

    public void Flip()
    {
        Dispatcher.Dispatch(new TakeTurnAction(Card));
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        GameState.Subscribe(this);
    }

}